/* Globals Settings */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

section, header, footer {
    width: 100%;
    padding-inline: 40px;
    padding-block: 80px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    letter-spacing: -0.02em;
    text-align: left;
}

h2 {
    font-family: Poppins;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

h3 {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: left;
}

h {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
}

.text-center {
    text-align: center;
}

.content-container {
    max-width: 1208px;
    width: 100%;
    display: flex;
}

.yellow-highlight {
    color: #f8db46;
}

.black-highlight {
    color: #1E1F27;
}

.white-highlight {
    color: #fff;
}

.pink-highlight {
    color: #FF3D9A;
}

.background-black {
    background-color: #1E1F27;
}

.background-purple {
    background-color: #5758F1;
}

.background-green {
    background-color: #04C27F;
}

.background-yellow {
    background-color: #F1D06E;
}

.background-pink {
    background-color: #FF3D9A;
}

/* Header section */

#header-section {
    padding-block: 0;
}

#header-container {
    gap: 85px;
    justify-content: space-between;
    border-bottom: solid black 2px;

    padding-block: 28px;
}

.header-item1 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    color: #1E1F27;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.header-menus {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    color: #1E1F27;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem
}

.header-item2 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    color: #1E1F27;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.phone-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.phone-icon {
    max-width: 24px;
    max-height: 24px;
}

.donate-button {
    font-family: Poppins;
    display: flex;
    width: 181px;
    height: 64px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    background-color: #ff3d9a;
    border: #fff;
    padding: 16px 32px;
    border-radius: 32px;
    align-items: center;
    gap: 8px;
}

/* Blackline separator */


/* About Us Section */

#us-section {
    padding-top: 80px;
    padding-bottom: 120px
}

#us-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#us-item1 {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#us-description {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: left;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.adopt-button {
    font-family: Poppins;
    display: flex;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    height: 64px;
    width: 263px;
    font-size: 20px;
    color: black;
    font-weight: 700;
    background-color: #fff;
    border: solid black 2px;
    padding: 16px 32px;
    border-radius: 32px;
    align-items: center;
    gap: 10px;
}

/* Accomplished Section */


#accomplished-container {
    flex-direction: column;
    gap: 80px;
}

.accomplished-item1 {
    gap: 80px;
}

.accomplished-item2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    gap: 40px;
}

.accomplished-values {
    gap: 40px;
}

.yellow-part {
    font-family: Poppins;
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    letter-spacing: -0.02em;
    text-align: center;
}

.white-part {
    font-family: Poppins;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

/* Donations Section */

#donations-container {
    flex-direction: column;
    gap: 80px;
}

.cards-container-visible {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 60px;
    max-width: 1208px;
    width: 100%;
    margin: 0 auto;
}

.card-individual {
    flex: 1 2 0;
    padding: 36px;
    border: solid white 2px;
    border-radius: 24px;
    opacity: 0px;
    gap: 0px;
}

.card-title-icon {
    font-family: Poppins;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: center;
    display: flex;
    align-content: space-between;
    gap: 20px;
}

.card-description {
    font-family: Inter;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

/* Adopt Section */

#adopt-container {
    flex-direction: column;
    gap: 24px;
}

.adopt-item2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1208px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    max-width: 584px;
}

.adopt-list {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 38.4px;
    text-align: left;
}

#adopt-section-button {
    font-family: Poppins;
    display: flex;
    width: 217px;
    height: 64px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    background-color: black;
    padding: 16px 32px;
    border-radius: 32px;
    gap: 8px;
    align-items: center;
    text-wrap: nowrap;
}

/* Difference Section */

#difference-container {
    flex-direction: column;
    gap: 80px;
}

.diff-item1 {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap;
    align-content: space-around;
    gap: 110px; */
    position: relative;
}

.diff-item1 h2 {
    max-width: 604px;
}

.diff-item1 > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.diff-item1 > img:first-child {
    left: 10%;
}

.diff-item1 > img:last-child {
    right: 10%;
}

.cards-diff-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.card-diff-solo {
    display: flex;
    width: 272px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px 24px;
    border: solid white 2px;
    border-radius: 24px;
    gap: 48px;
}

.card-diff-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-diff-title {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 38.4px;
    letter-spacing: -0.02em;
    text-align: center;
}

.card-diff-description {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

.card-diff-button {
    width: 100%;
    height: 64px;

    /* padding: 16px 24px; */
    padding-block: 16px;
    border-radius: 16px;
    border: none;
    cursor: pointer;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

/* Best friend section */

#best-friend-container{
    justify-content: center;
}

#best-friend-item {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

#best-friend-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
}

#best-friend-above-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

#above-title-text {
    display: flex;
    justify-content: center;
}

#best-friend-buttons-container {
    display: flex;
    justify-content: center;
    gap: 24px;
}

#best-friend-adoptables {
    padding: 16px 32px;
    border-radius: 32px;
    border: none;
    cursor: pointer;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

#best-friend-adopt {
    padding: 16px 32px;
    border-radius: 32px;
    border: solid white 2px;
    cursor: pointer;
    
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}


/* Newsletter Section */

#newsletter-container {
    flex-direction: column;
    gap: 60px;
}

#newsletter-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#newsletter-description {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
}

#newsletter-subscription {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.newsletter-input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

#email-box-newsletter {
    width: 395px;
    height: 64px;

    padding: 16px 24px;
    border-radius: 32px;
    border: solid white 2px;

    font-family: Poppins;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

#email-box-newsletter::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

/* #best-friend-adoptables {
    padding: 16px 32px;
    border-radius: 32px;
    border: none;
    cursor: pointer;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
} */

#subscribe-button-newsletter {
    width: 170px;
    height: 64px;

    padding: 16px 32px;
    border-radius: 32px;
    border: none;
    cursor: pointer;

    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    background-color: #fff;
}

/* Footer section */

#footer-container {
    flex-direction: column;
    gap: 120px;
}

#footer-item1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.footer-column-texts {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

#footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}

.contact-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}

#footer-medias {
    gap: 20px;
}

#footer-item2 {
    display: flex;
    justify-content: center;

    border-top: solid black 2px;
    padding-top: 60px;

    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: center;
}